.container{
    border-bottom: 1px solid #000000;
    display: flex;
    flex-direction: row;
    background-color: #e2eaf0;
    justify-content:space-evenly;
}

@media (prefers-color-scheme: dark) {
    .container{
        background-color: #03192a;
        border-bottom: 1px solid #ffffff;
        justify-content:space-evenly;
    }
  }
  

.container Link{
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}