.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    background-color: #4284db;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    overflow: hidden;
    
    padding: 2em;
    
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    color: white;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .left,
  .right {
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
  }
  
  .left {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }