html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

a p{
  color: #2980b9;
}

a:hover {
  color: #2980b9;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto;
  font-size-adjust: 0.5362;
  margin-bottom: 1rem;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

h3 {
  font-weight: 400;
  font-size: 1.17rem;
}

h4 {
  font-weight: 400;
  font-size: 1rem;
}

input,
select,
textarea {
  font-family: inherit;
  margin-left: 10px;
}

button {
  padding: 8px 12px;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #226b9c;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color-scheme: dark;
    background-color: #222;
    color: #ddd;
  }
  
  a {
    color: #87ceeb;
  }

  a:hover {
    color: #63a8c2;
  }

  p,
  ul,
  h1,
  h2,
  h3,
  h4 {
    color: #fff;
  }

  button {
    background-color: #63a8c2;
  }

  button:hover {
    background-color: #44728a;
  }

  input,
  select,
  textarea {
    background-color: #333;
    color: #ccc;
    border: 1px solid #555;
  }

  input::placeholder,
  textarea::placeholder {
    color: #777;
  }
}