.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  gap: 2rem;
  max-width: 1000px;
}

.arrow {
  display: inline-block;
  font-size: 1.3em; /* adjust size here */
  padding-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.active:hover h2 .arrow {
  transform: translateX(5px);
}

.card {
  padding: 1.5rem;
  border-radius: 10px;
  background: rgba(222, 225, 230, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.active:hover {
  background: rgba(222, 225, 230, 0.2);
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 20px;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.card p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

